@font-face {
    font-family: 'RobotoSlab';
    src: url('../assets/fonts/RobotoSlab-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Varela-Regular';
    src: url('../assets/fonts/Varela-Regular.ttf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
    scroll-margin-bottom: 20px;

    --heading-font: 'RobotoSlab';
    --sub-font: 'Varela-Regular';

}

/* For WebKit-based browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
    width: 0px; /* width of the scrollbar */
}

a{
    text-decoration: none;
}

.main-title, .restaurant-subtitle, .restaurant-title, .filter-box>.btn, .card-main-text>h1, .link-photo > h2{
    font-family: var(--heading-font), serif;
}

 .card-subtext, .restaurant-paragraph, .link-bar{
    font-family: var(--sub-font), sans-serif;
}

#bg{
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    z-index: -5;
}

#outline{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    z-index: -4;
}

.outline-body{
    width: 20vw;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255,255,255,0.4);
    margin: 0;
}


a{
    text-decoration: none;
}

.clicked{
    background-color: white !important;
    color: black !important;

}

@media only screen and (min-width: 600px){
    .gold{
        box-shadow: 0px 0px 6px rgba(255, 215, 0, 1) !important;
    }
    
    .silver{
        box-shadow: 0px 0px 6px rgba(192,192,192, 1) !important;
    }
    
    .bronze{
        box-shadow: 0px 0px 6px rgba(205, 127, 50, 1) !important;
    }
    
    .red{
        box-shadow: 0px 0px 6px rgba(171, 35, 48, 1) !important;
    }

    #gold{
        box-shadow: 0px 0px 6px rgba(255, 215, 0, 1) !important;
    }
    
    #silver{
        box-shadow: 0px 0px 6px rgba(192,192,192, 1) !important;
    }
    
    #bronze{
        box-shadow: 0px 0px 6px rgba(205, 127, 50, 1) !important;
    }
    
    #red{
        box-shadow: 0px 0px 6px rgba(171, 35, 48, 1) !important;
    }

    .main-title{
        color: white;
        font-size: 80px;
        text-align: center;
        margin-top: 5%;
    }

    #main-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
        grid-template-rows: repeat(auto-fit, 1fr); 
        
        /* margin: auto; */
        margin-left: 20vw;
        margin-right: 20vw;
        width: 60vw;
        /* height: 100vh; */
        row-gap: 5%;
        column-gap: 10%;
        margin-top: 10vh;
    }

    .card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        margin: auto;
        padding: 1em;
    }

    .card-img{
        width: 80%;
        height: 50%;
        border-radius: 2px;

        margin: 10%;
    }

    .card-img:hover{
        transform: scale(1.01);
    }

    .card-main-text{
        color: white;
        font-size: 10px;
        margin: 2px;
        text-align: center;
    }

    .card-subtext{
        color: white;
        font-size: 12px;
    }


    .line{
        box-shadow: 0px 0px 6px rgba(255,255,255, 1);
        height: 1px;
        width: 80%;
        background-color: rgba(255,255,255,1);
        margin-top: 2%;
        margin-bottom: 8%;
        margin-left: auto;
        margin-right: auto;
    }

    .btn{
        box-shadow: -1px -1px 6px rgba(255,255,255, 1);
        text-decoration: none;
        color: white;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
        text-align: center;
        font-size: 16px;
    }

    .btn:hover{
        transform: scale(1.05);
    }

    .filter-box{
        display: flex;
        justify-content: space-evenly;
        border-style: solid;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2%;
        width: 60%;
        height: auto;
        gap: 2em;
        flex-wrap: wrap;
    }

    .filter-box > .btn{
        width: auto;
        padding: 15px;
    }

}


@media only screen and (max-width: 600px){
    .gold{
        box-shadow: 0px 0px 10px rgba(255, 215, 0, 1) !important;
    }
    
    .silver{
        box-shadow: 0px 0px 10px rgba(192,192,192, 1) !important;
    }
    
    .bronze{
        box-shadow: 0px 0px 10px rgba(205, 127, 50, 1) !important;
    }
    
    .red{
        box-shadow: 0px 0px 10px rgba(171, 35, 48, 1) !important;
    }

    #gold{
        box-shadow: 0px 0px 6px rgba(255, 215, 0, 1) !important;
    }
    
    #silver{
        box-shadow: 0px 0px 6px rgba(192,192,192, 1) !important;
    }
    
    #bronze{
        box-shadow: 0px 0px 6px rgba(205, 127, 50, 1) !important;
    }
    
    #red{
        box-shadow: 0px 0px 6px rgba(171, 35, 48, 1) !important;
    }

    #main-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
        grid-template-rows: repeat(auto-fit, minmax(275px, 1fr)); 
        
        margin-left: 20%;
        margin-right: 20%;
        width: 60%;
        row-gap: 1%;
    }

    .card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        margin: auto;
        margin-bottom: 2%;
        padding: 1em;
    }

    .card-img{
        width: 80%;
        height: 50%;
        border-radius: 2px;

        margin: 10%;
    }

    .card-img:hover{
        transform: scale(1.01);
    }

    .card-main-text{
        color: white;
        font-size: 10px;
        margin: 2px;
        text-align: center;
    }

    .card-subtext{
        color: white;
        font-size: 12px;
    }


    .main-title{
        color: white;
        font-size: 40px;
        text-align: center;
        margin-top: 10%;
    }

    
    .line{
        box-shadow: 0px 0px 6px rgba(255,255,255, 1);
        height: 1px;
        width: 80%;
        background-color: rgba(255,255,255,1);
        margin-top: 8%;
        margin-bottom: 8%;
        margin-left: auto;
        margin-right: auto;
    }

    #title{
        width: 80%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .btn{
        box-shadow: 0px 0px 2px rgba(255,255,255, 1);
        text-decoration: none;
        color: white;
        width: 20%; 
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
        text-align: center;
        background-color: black;
    }

    .btn:hover{
        transform: scale(1.05);
    }

    .filter-box{
        display: flex;
        justify-content: space-evenly;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2%;
        width: 90%;
        height: auto;
        flex-wrap: wrap;
    }

    .filter-box > .btn{
        width: auto;
        padding: 15px;
        margin: 10px;
    }


}