@font-face {
    font-family: 'RobotoSlab';
    src: url('../assets/fonts/RobotoSlab-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Varela-Regular';
    src: url('../assets/fonts/Varela-Regular.ttf') format('truetype');
}
/* For WebKit-based browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
    width: 0px; /* width of the scrollbar */
  }

*{
    margin: 0;
    padding: 0;
}

body{
    
    overflow: auto;
}
#background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    
    background-image: linear-gradient(
  45deg,
  hsl(236deg 59% 34%) 0%,
  hsl(261deg 62% 33%) 20%,
  hsl(277deg 76% 31%) 40%,
  hsl(292deg 88% 29%) 60%,
  hsl(305deg 85% 32%) 80%,
  hsl(313deg 85% 38%) 100%
);
    
    background-size: cover;
    /* background-image: url(../assets/images/night.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    z-index: -2147483647;
}

a {
    color: inherit;
    text-decoration: none; /* Optionally, remove underline */
}

.glass{
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.glass:hover{
    transform: scale(1.01);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}

#section-title{
    color: white;
    font-family: "RobotoSlab", sans-serif;
    font-size: 36px;
    
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
    padding: 15px;
    margin-bottom: 2vh;
}



#left_star {
    position: fixed;
    top: 80%;
    left: 50%;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1), 0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 1)  ;
    animation:  animate 3s linear infinite;
  }

  #left_star::before{
    content: '';
    position: fixed;
    top: 80%;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(80deg, #fff, transparent);
  }
  @keyframes animate {
    0%
    {
        transform: rotate(135deg) translateX(0);
        opacity: 1;
    }
    70%
    {
        opacity: 1;

    }
    100%
    {
        transform: rotate(135deg) translateX(-1500px);
        opacity: 0;

    }
  }

#right_star {
    position: fixed;
    top: 80%;
    left: 50%;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1), 0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 1)  ;
    animation:  animate2 3s linear infinite;
  }

  #right_star::before{
    content: '';
    position: fixed;
    top: 80%;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(80deg, #fff, transparent);
  }
  @keyframes animate2 {
    0%
    {
        transform: rotate(45deg) translateX(0);
        opacity: 1;
    }
    70%
    {
        opacity: 1;

    }
    100%
    {
        transform: rotate(45deg) translateX(-1500px);
        opacity: 0;

    }
  }

#footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
    height: 150px;
}

#copyright{
    text-align: center;
    color: white;
}



